@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h2>Stylists</h2>

<ul>
  @foreach (Stylist stylist in Model)
  {
    <li>@Html.ActionLink($"{stylist.Detail}", "Details", new { id = stylist.StylistId })</li>
  }
</ul>


<p>@Html.ActionLink("Add a new stylist to this application", "Create")</p>
<p>@Html.ActionLink("Go back to the home page", "Index", "Home")</p>