@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client </h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
 
  <input type="submit" value="Add the new client" />
}
<p>@Html.ActionLink("Show all the clients ", "Index")</p>