@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Clients</h1>

<ul>
  @foreach(Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new a new client", "Create")</p>